<!doctype html>
<html>
    <% include ./partials/head %>
    <body>
        <% include ./partials/header %>

    
            <div class="row">
                <div class="col-md-10 initial">
                    
                    <ul>
                        <% for(var i=0; i<parsedThreads.length; i++) {%>
                        <label><%= parsedThreads[i].title %></label>
                        <div class="well"><div class="well"><%= parsedThreads[i].threadStart %></div>asdasd</div>
                        <% } %>
                    </ul>
                </div>
                <div class="col-md-2 flex1">

                    <form action="/login" method="post">
                        <div class="form-group">
                            
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-lg">Login</button>
                    </form>
                    <hr>
                    <a href="/signup">Create a free account</a><br>
                    <a href="/signup">Forgot account details?</a>
                    <hr>
                    <button class="btn btn-lg"><a href="/newthread">Create a new thread</a></button>
                </div>
            </div>
        


    </body>
</html>