html,body
{
  height: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar.navbar-default{background-color:#373737;}
.col-md-2{background-color: #FAFAFF; padding: 2%; margin: 0; height: 100%;}

.col-md-10{padding: 2%;} 


#wrapper{width:50%;}

.well{border-left-color: #373737; border-left-width:1em; border-radius: 0; margin-bottom: 0; margin-top: 0; border-bottom:none; position: relative;}


